*{
    box-sizing: border-box;
}
.heading{
    font-family: 'Titillium Web', sans-serif;
    position: absolute;
    top: 6%;
    left: 30%;
    transform: rotate(-15deg);
    font-size: 6.5em;
    color: rgb(252, 248, 248);
    text-shadow: 0 0 15px rgb(119, 7, 119);
}
.subh{
    font-family: 'Titillium Web', sans-serif;
    position: absolute;
    top: 28%;
    left: 42%;
    transform: rotate(-15deg);
    font-size: 3.5em;
    text-shadow: 0 0 15px rgb(2, 2, 2);
    color: white;
    letter-spacing: 2px;
}
.two{
    margin: 5% 10%;
    position: relative;
}
.light{
    width: 1000px;
    height: 800px;
    border-radius: 5px;
}
.abs{
    position: absolute;
    top: 35%;
    padding: 30px;
    font-size: 3em;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-shadow: 0 0 12px black;
}
#head{
    text-align: center;
    font-size: 3em;
    font-family: 'Rye', cursive;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 0 0 13px #7e26d1;
}
#images{
    padding: 20px;
    position: relative;
    overflow: hidden;
}
#images .same{
    width: 600px;
    height: 400px;
    margin: 50px;
}
.same img{
    border-radius: 10px;
}
.same p{
    position: relative;
    font-size: 3em;
    left: 5%;
    top: -33%;
    background: white;
    padding: 5px;
    border-radius: 8px;
}
#side{
    position: absolute;
    transform: scale(2,2);
    top: 20%;
    left: 70%;
    z-index: -1;
}
button{
    padding: 10px;
    display: block;
    width: 250px;
    margin: 5% 45%;
    font-size: 1.8em;
    border-radius: 9px;
}

#light{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: goldenrod;
    box-shadow: 0 0 10px 8px gold;
    margin: 20%;
}