*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
#head{
    height: 100vh;
    width: 100vw;
    background-image: url('background (2).jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#logo img{
    max-height: 200px;
    max-width: 200px;
    display: block;
    margin: auto;
    padding: 10px;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes example{
    50%{transform: rotate(40deg);}
    100%{transform: rotate(-20deg);}
}
#logo h1{
    font-size: 7em;
    font-family: 'Kanit', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    position: absolute;
    top: 0;
    left: 25%;
    text-shadow: 0 0 8px white;
}
#s1{
    color: none;
    animation: one 1.3s 1s infinite;
}
#s2{
    color: none;
    animation: two 1.5s 2s infinite;
}
#s3{
    color: none;
    animation: three 2s 3s infinite;
}
@keyframes one {
    from{color: black;}
    to{color: rgb(224, 76, 224);}
}
@keyframes two {
    from{color: black;}
    to{color: violet;}
}
@keyframes three{
    from{color: black;}
    to{color: rgb(231, 19, 231);}
}
#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#navbar ul li{
    float: left;
    border-right: 4px white solid;
    border-radius: 5px;
    margin: 4px;
}
#navbar ul li:hover{
    background-color: orange;
    color: white;
}
#navbar ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 10px 18px;
    font-size: 1.5em;
    text-decoration: none;
}
#navbar{
    margin: 2.5em 0 0.5em 30%;
}
#head h2{
    font-family: 'Kanit', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: 6em;
    float: right;
    margin: 40px 70px 10px 0;
    color: white;
    word-spacing: 5px;
    text-shadow: 0 0 8px red;
}
.kali{
    height: 100px;
    width: 100vw;
    background: white;
}
#about{
    margin: 20px;
    border-radius: 10px;
    padding: 120px;
    background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%235505c6' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}
.glass{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
padding: 40px;
border-radius: 10px;
}
.glass h1{
    font-family: 'Kanit', sans-serif;
font-family: 'Rampart One', cursive;
font-family: 'Wire One', sans-serif;
font-size: 4em;
margin: 5px;
}
.glass dd{
    font-family: 'Kite One', sans-serif;
color: black;
font-size: 2em;
padding: 10px;
}
.glass h2{
    font-family: 'Buda', cursive;
    padding: 20px;
    font-size: 2em;
    border-bottom: 4px solid violet;
}


#main{
    min-height: 100vh;
    background-color: #330055;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    margin:5%;
    border-radius: 10px;
}
#works{
    font-size: 4em;
    text-align: center;
    margin: 2.5%;
    font-family: 'Kanit', sans-serif;
    font-family: 'Rampart One', cursive;
    color: white;
}
.same{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
max-width: 60%;
display: block;
margin: 5% auto;
}
.same img{
    padding: 10px;
    box-sizing: border-box;
    display: block;
    margin: auto;
}
.same a img{
    height: 100px;
    width: 100px;
    text-decoration: none;
    color: white;
    text-align: center;
    background: black;
    border-radius: 50%;
    padding: 10px;
}
.same p{
    text-align: center;
    font-size: 2em;
    margin: 10px;
    font-family: cursive;
}
footer{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/*mobile code */

@media screen and (min-width: 320px){
    #head{
        height: 100vh;
        width: 100vw;
        background-image: url('background (3).jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    #logo h1{
        font-size: 4em;
        font-family: 'Kanit', sans-serif;
        font-family: 'Titillium Web', sans-serif;
        position: absolute;
        top: 15px;
        left: 15%;
        text-shadow: 0 0 8px #5b86e5;
    }
    #logo img{
        max-height: 120px;
        max-width: 120px;
        display: block;
        float: right;
        margin: 20px;
        animation-name: example;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    @keyframes one {
        from{color: black;}
        to{color: #f2fcfe;}
    }
    @keyframes two {
        from{color: black;}
        to{color: #f2fcfe;}
    }
    @keyframes three{
        from{color: black;}
        to{color: #f2fcfe;}
    }
    #navbar ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    #navbar ul li{
        float: left;
        border-right: 4px white solid;
        border-radius: 3px;
        margin: 2px;
    }
    #navbar ul li:hover{
        background-color: orange;
        color: white;
    }
    #navbar ul li a{
        display: block;
        color: black;
        text-align: center;
        padding: 5px 9px;
        font-size: 1.5em;
        text-decoration: none;
    }
    #navbar{
        margin: 1.2em 0 0.2em 10%;
    }
    #head h2{
        font-family: 'Kanit', sans-serif;
        font-family: 'Pacifico', cursive;
        font-size: 3em;
        text-align: right;
        margin: 65px 10px 10px 30px ;
        color: white;
        word-spacing: 3px;
        text-shadow: 0 0 8px red;
    }
    .kali{
        height: 100px;
        width: 100vw;
        background: white;
    }
    #about{
        margin: 10px;
        border-radius: 6px;
        padding: 30px;
        background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%235505c6' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    }
    .glass{
        background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    padding: 20px;
    border-radius: 10px;
    }
    .glass h1{
        font-family: 'Kanit', sans-serif;
    font-family: 'Rampart One', cursive;
    font-family: 'Wire One', sans-serif;
    font-size: 2.5em;
    margin: 1px;
    }
    .glass dd{
        font-family: 'Kite One', sans-serif;
    color: black;
    font-size: 1.2em;
    padding: 5px;
    }
    .glass h2{
        font-family: 'Buda', cursive;
        padding: 10px;
        font-size: 1.5em;
        border-bottom: 4px solid violet;
    }
    #main{
        min-height: 100vh;
        background-color: #330055;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: contain;
        margin:2%;
        border-radius: 10px;
    }
    #works{
        font-size: 2.3em;
        text-align: center;
        margin: 1.3%;
        font-family: 'Kanit', sans-serif;
        font-family: 'Rampart One', cursive;
        color: white;
    }
    .same{
        background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: block;
    margin: 5% auto;
    height: auto;
    max-width: 90vw;
    }
    .same img{
        padding: 6px;
        box-sizing: border-box;
        display: block;
        margin: auto;
    }
    .same a img{
        height: 50px;
        width: 50px;
        text-decoration: none;
        color: white;
        text-align: center;
        background: black;
        border-radius: 50%;
        padding: 5px;
    }
    .same p{
        text-align: center;
        font-size: 1.5em;
        margin: 5px;
        font-family: cursive;
        color: white;
    }
    footer{
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 375px){
    #head{
        height: 100vh;
        width: 100vw;
        background-image: url('background (3).jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    #logo img{
        max-height: 130px;
        max-width: 130px;
        display: block;
        float: right;
        margin: 20px;
        animation-name: example;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    @keyframes example{
        50%{transform: rotate(40deg);}
        100%{transform: rotate(-20deg);}
    }
    #logo h1{
        font-size: 4em;
        font-family: 'Kanit', sans-serif;
        font-family: 'Titillium Web', sans-serif;
        position: absolute;
        top: 15px;
        left: 25%;
        text-shadow: 0 0 8px #5b86e5;
    }
    #s1{
        color: none;
        animation: one 1.3s 1s infinite;
    }
    #s2{
        color: none;
        animation: two 1.5s 2s infinite;
    }
    #s3{
        color: none;
        animation: three 2s 3s infinite;
    }
    @keyframes one {
        from{color: black;}
        to{color: #f2fcfe;}
    }
    @keyframes two {
        from{color: black;}
        to{color: #f2fcfe;}
    }
    @keyframes three{
        from{color: black;}
        to{color: #f2fcfe;}
    }
    #navbar ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    #navbar ul li{
        float: left;
        border-right: 4px white solid;
        border-radius: 3px;
        margin: 2px;
    }
    #navbar ul li:hover{
        background-color: orange;
        color: white;
    }
    #navbar ul li a{
        display: block;
        color: black;
        text-align: center;
        padding: 5px 9px;
        font-size: 1.5em;
        text-decoration: none;
    }
    #navbar{
        margin: 1.2em 0 0.2em 18%;
    }
    #head h2{
        font-family: 'Kanit', sans-serif;
        font-family: 'Pacifico', cursive;
        font-size: 3em;
        text-align: right;
        margin: 65px 20px 10px 30px ;
        color: white;
        word-spacing: 3px;
        text-shadow: 0 0 8px red;
    }
    .kali{
        height: 100px;
        width: 100vw;
        background: white;
    }
    #about{
        margin: 15px;
        border-radius: 7px;
        padding: 40px;
        background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%235505c6' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    }
    .glass{
        background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    padding: 15px;
    border-radius: 10px;
    }
    .glass h1{
        font-family: 'Kanit', sans-serif;
    font-family: 'Rampart One', cursive;
    font-family: 'Wire One', sans-serif;
    font-size: 3.5em;
    margin: 2px;
    }
    .glass dd{
        font-family: 'Kite One', sans-serif;
    color: black;
    font-size: 1.5em;
    padding: 2px;
    }
    .glass h2{
        font-family: 'Buda', cursive;
        padding: 10px;
        font-size: 2em;
        border-bottom: 4px solid violet;
    }
    #main{
        min-height: 100vh;
        background-color: #330055;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: contain;
        margin:3%;
        border-radius: 10px;
    }
    #works{
        font-size: 3em;
        text-align: center;
        margin: 1.3%;
        font-family: 'Kanit', sans-serif;
        font-family: 'Rampart One', cursive;
        color: white;
    }
    .same{
        background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: block;
    margin: 5% auto;
    height: auto;
    max-width: 90vw;
    }
    .same img{
        padding: 10px;
        box-sizing: border-box;
        display: block;
        margin: auto;
    }
    .same a img{
        height: 80px;
        width: 80px;
        text-decoration: none;
        color: white;
        text-align: center;
        background: black;
        border-radius: 50%;
        padding: 5px;
    }
    .same p{
        text-align: center;
        font-size: 1.9em;
        margin: 5px;
        font-family: cursive;
        color: white;
    }
    footer{
        text-align: center;
        font-size: 1.9em;
        margin-bottom: 10px;
    }
  }
@media screen and (min-width: 425px){
    #head{
        height: 100vh;
        width: 100vw;
        background-image: url('background (3).jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    #logo img{
        max-height: 130px;
        max-width: 130px;
        display: block;
        float: right;
        margin: 20px;
        animation-name: example;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    @keyframes example{
        50%{transform: rotate(40deg);}
        100%{transform: rotate(-20deg);}
    }
    #logo h1{
        font-size: 5em;
        font-family: 'Kanit', sans-serif;
        font-family: 'Titillium Web', sans-serif;
        position: absolute;
        top: 15px;
        left: 25%;
        text-shadow: 0 0 8px #5b86e5;
    }
    #s1{
        color: none;
        animation: one 1.3s 1s infinite;
    }
    #s2{
        color: none;
        animation: two 1.5s 2s infinite;
    }
    #s3{
        color: none;
        animation: three 2s 3s infinite;
    }
    @keyframes one {
        from{color: black;}
        to{color: #f2fcfe;}
    }
    @keyframes two {
        from{color: black;}
        to{color: #f2fcfe;}
    }
    @keyframes three{
        from{color: black;}
        to{color: #f2fcfe;}
    }
    #navbar ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    #navbar ul li{
        float: left;
        border-right: 4px white solid;
        border-radius: 3px;
        margin: 2px;
    }
    #navbar ul li:hover{
        background-color: orange;
        color: white;
    }
    #navbar ul li a{
        display: block;
        color: black;
        text-align: center;
        padding: 5px 9px;
        font-size: 2em;
        text-decoration: none;
    }
    #navbar{
        margin: 1.2em 0 0.2em 18%;
    }
    #head h2{
        font-family: 'Kanit', sans-serif;
        font-family: 'Pacifico', cursive;
        font-size: 4em;
        text-align: right;
        margin: 60px 20px 10px 25px ;
        color: white;
        word-spacing: 3px;
        text-shadow: 0 0 8px red;
    }
    .kali{
        height: 100px;
        width: 100vw;
        background: white;
    }
    #about{
        margin: 15px;
        border-radius: 7px;
        padding: 40px;
        background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%235505c6' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    }
    .glass{
        background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    padding: 15px;
    border-radius: 10px;
    }
    .glass h1{
        font-family: 'Kanit', sans-serif;
    font-family: 'Rampart One', cursive;
    font-family: 'Wire One', sans-serif;
    font-size: 4.5em;
    margin: 2px;
    }
    .glass dd{
        font-family: 'Kite One', sans-serif;
    color: black;
    font-size: 1.7em;
    padding: 2px;
    }
    .glass h2{
        font-family: 'Buda', cursive;
        padding: 10px;
        font-size: 2em;
        border-bottom: 4px solid violet;
    }
    #main{
        min-height: 100vh;
        background-color: #330055;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: contain;
        margin:3%;
        border-radius: 10px;
    }
    #works{
        font-size: 3.5em;
        text-align: center;
        margin: 1.3%;
        font-family: 'Kanit', sans-serif;
        font-family: 'Rampart One', cursive;
        color: white;
    }
    .same{
        background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: block;
    margin: 5% auto;
    height: auto;
    max-width: 90vw;
    }
    .same img{
        padding: 10px;
        box-sizing: border-box;
        display: block;
        margin: auto;
    }
    .same a img{
        height: 100px;
        width: 100px;
        text-decoration: none;
        color: white;
        text-align: center;
        background: black;
        border-radius: 50%;
        padding: 5px;
    }
    .same p{
        text-align: center;
        font-size: 2.1em;
        margin: 5px;
        font-family: cursive;
        color: white;
    }
    footer{
        text-align: center;
        font-size: 2.1em;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 550px){
    #logo img{
        max-height: 130px;
        max-width: 130px;
        display: block;
        float: right;
        margin: 20px;
        animation-name: example;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    @keyframes example{
        50%{transform: rotate(40deg);}
        100%{transform: rotate(-20deg);}
    }
    #logo h1{
        font-size: 5em;
        font-family: 'Kanit', sans-serif;
        font-family: 'Titillium Web', sans-serif;
        position: absolute;
        top: 15px;
        left: 25%;
        text-shadow: 0 0 8px #5b86e5;
    }
    #s1{
        color: none;
        animation: one 1.3s 1s infinite;
    }
    #s2{
        color: none;
        animation: two 1.5s 2s infinite;
    }
    #s3{
        color: none;
        animation: three 2s 3s infinite;
    }
    @keyframes one {
        from{color: black;}
        to{color: #f2fcfe;}
    }
    @keyframes two {
        from{color: black;}
        to{color: #f2fcfe;}
    }
    @keyframes three{
        from{color: black;}
        to{color: #f2fcfe;}
    }
    #navbar ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    #navbar ul li{
        float: left;
        border-right: 4px white solid;
        border-radius: 3px;
        margin: 2px;
    }
    #navbar ul li:hover{
        background-color: orange;
        color: white;
    }
    #navbar ul li a{
        display: block;
        color: black;
        text-align: center;
        padding: 5px 9px;
        font-size: 2em;
        text-decoration: none;
    }
    #navbar{
        margin: 1.2em 0 0.2em 18%;
    }
    #head h2{
        font-family: 'Kanit', sans-serif;
        font-family: 'Pacifico', cursive;
        font-size: 4em;
        text-align: right;
        margin: 60px 20px 10px 25px ;
        color: white;
        word-spacing: 3px;
        text-shadow: 0 0 8px red;
    }
    .kali{
        height: 100px;
        width: 100vw;
        background: white;
    }
    #about{
        margin: 15px;
        border-radius: 7px;
        padding: 40px;
        background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%235505c6' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    }
    .glass{
        background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    padding: 15px;
    border-radius: 10px;
    }
    .glass h1{
        font-family: 'Kanit', sans-serif;
    font-family: 'Rampart One', cursive;
    font-family: 'Wire One', sans-serif;
    font-size: 4.5em;
    margin: 2px;
    }
    .glass dd{
        font-family: 'Kite One', sans-serif;
    color: black;
    font-size: 1.7em;
    padding: 2px;
    }
    .glass h2{
        font-family: 'Buda', cursive;
        padding: 10px;
        font-size: 2em;
        border-bottom: 4px solid violet;
    }
    #main{
        min-height: 100vh;
        background-color: #330055;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: contain;
        margin:3%;
        border-radius: 10px;
    }
    #works{
        font-size: 3.5em;
        text-align: center;
        margin: 1.3%;
        font-family: 'Kanit', sans-serif;
        font-family: 'Rampart One', cursive;
        color: white;
    }
    .same{
        background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: block;
    margin: 5% auto;
    height: auto;
    max-width: 90vw;
    }
    .same img{
        padding: 10px;
        box-sizing: border-box;
        display: block;
        margin: auto;
    }
    .same a img{
        height: 100px;
        width: 100px;
        text-decoration: none;
        color: white;
        text-align: center;
        background: black;
        border-radius: 50%;
        padding: 5px;
    }
    .same p{
        text-align: center;
        font-size: 2.1em;
        margin: 5px;
        font-family: cursive;
        color: white;
    }
    footer{
        text-align: center;
        font-size: 2.1em;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 670px){
    #logo img{
        max-height: 200px;
        max-width: 200px;
        display: block;
        margin: 10px 20% 10px 10px ;
        animation-name: example;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}
@media screen and (min-width: 760px) {
    #head{
        height: 100vh;
        width: 100vw;
        background-image: url('background (2).jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    #logo img{
        max-height: 200px;
        max-width: 200px;
        display: block;
        margin: 10px 20% 10px 10px ;
        animation-name: example;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    @keyframes example{
        50%{transform: rotate(40deg);}
        100%{transform: rotate(-20deg);}
    }
    #logo h1{
        font-size: 7em;
        font-family: 'Kanit', sans-serif;
        font-family: 'Titillium Web', sans-serif;
        position: absolute;
        top: 0;
        left: 25%;
        text-shadow: 0 0 8px #5b86e5;
    }
    #s1{
        color: none;
        animation: one 1.3s 1s infinite;
    }
    #s2{
        color: none;
        animation: two 1.5s 2s infinite;
    }
    #s3{
        color: none;
        animation: three 2s 3s infinite;
    }
    @keyframes one {
        from{color: black;}
        to{color: #f2fcfe;}
    }
    @keyframes two {
        from{color: black;}
        to{color: #f2fcfe;}
    }
    @keyframes three{
        from{color: black;}
        to{color: #f2fcfe;}
    }
    #navbar ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    #navbar ul li{
        float: left;
        border-right: 4px white solid;
        border-radius: 5px;
        margin: 4px;
    }
    #navbar ul li:hover{
        background-color: orange;
        color: white;
    }
    #navbar ul li a{
        display: block;
        color: black;
        text-align: center;
        padding: 10px 18px;
        font-size: 1.5em;
        text-decoration: none;
    }
    #navbar{
        margin: 2.5em 0 0.5em 30%;
    }
    #head h2{
        font-family: 'Kanit', sans-serif;
        font-family: 'Pacifico', cursive;
        font-size: 6em;
        float: right;
        margin: 40px 70px 10px 0;
        color: white;
        word-spacing: 5px;
        text-shadow: 0 0 8px red;
    }
    .kali{
        height: 100px;
        width: 100vw;
        background: white;
    }
    #about{
        margin: 20px;
        border-radius: 10px;
        padding: 120px;
        background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%235505c6' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    }
    .glass{
        background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    padding: 40px;
    border-radius: 10px;
    }
    .glass h1{
        font-family: 'Kanit', sans-serif;
    font-family: 'Rampart One', cursive;
    font-family: 'Wire One', sans-serif;
    font-size: 4em;
    margin: 5px;
    }
    .glass dd{
        font-family: 'Kite One', sans-serif;
    color: black;
    font-size: 2em;
    padding: 10px;
    }
    .glass h2{
        font-family: 'Buda', cursive;
        padding: 20px;
        font-size: 2em;
        border-bottom: 4px solid violet;
    }
    
    
    #main{
        min-height: 100vh;
        background-color: #330055;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: contain;
        margin:5%;
        border-radius: 10px;
    }
    #works{
        font-size: 4em;
        text-align: center;
        margin: 2.5%;
        font-family: 'Kanit', sans-serif;
        font-family: 'Rampart One', cursive;
        color: white;
    }
    .same{
        background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    max-width: 60%;
    display: block;
    margin: 5% auto;
    }
    .same img{
        padding: 10px;
        box-sizing: border-box;
        display: block;
        margin: auto;
    }
    .same a img{
        height: 100px;
        width: 100px;
        text-decoration: none;
        color: white;
        text-align: center;
        background: black;
        border-radius: 50%;
        padding: 10px;
    }
    .same p{
        text-align: center;
        font-size: 2em;
        margin: 10px;
        font-family: cursive;
    }
    footer{
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 1024px) {
    #logo img{
        max-height: 200px;
        max-width: 200px;
        display: block;
        margin: 10px 40% 10px 10px ;
        animation-name: example;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}